*{
    margin: 0;
    padding: 0;
    
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}
.wrapper{
    padding-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    background-image: url(1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.container{
    text-align: center;
    padding-top: 90px;
    background-color: rgb(44, 40, 40);
    height: 240px;
    border: 10px solid black;
    width: 80vh;
    border-radius: 10px;
    box-shadow: inset 0px 0px 20px 0px rgb(0,0,0,1);
    padding-left: 20px;
    padding-right: 20px;
}
.container p{
    color: white;
    padding-bottom: 50px;
    font-size: 30px;
}
#yes{
    background-color: rgb(88, 225, 88);
    cursor: pointer;
    padding: 3px 15px 3px;
    border-radius: 10px;
}
#bawal{
    background-color: red;
    cursor: pointer;
    padding: 3px 15px 3px;
    border-radius: 10px;
}
